<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Поліна Андреєва</title>
        <meta charset="UTF-8">
        <link rel ="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class ="main">

        <div class="row">
            <div>
            <div class="name blocks-style">
                <h1>{{name}}</h1>
            </div>
            <div class="position blocks-style">
                <h3>{{position}}</h3>
            </div>
            </div>
            <img class="photo" src="{{ url_for('static', filename='5462876922666150523.jpg') }}">
        </div>

        <div class="row">
            <div class="summary blocks-style">
                <h2>Summary</h2>
                <p>{{summary}}</p>
            </div>
            <div class="contacts blocks-style">
                <h2>Contacts</h2>
                <ul>
                    {%for contact, link in contacts %}
                        {% if link %}
                            <li><a href={{link}}>{{contact}}</a></li>
                        {%else%}
                            <li>{{contact}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <img class="cat" src="{{ url_for('static', filename='photo_2025-04-28 16.41.03.jpeg') }}">
            <div class="skills blocks-style">
                <h2>Skills</h2>
                <table border="1">
                    {% for i in range(0, skills|length, 4) %}
                        <tr>
                            {% for j in range(4) %}
                                {% if i + j < skills|length %}
                                    <td> {{ skills[i + j] }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="projects blocks-style">
                <h2>Projects</h2>
                {% for project, link in projects %}
                    <a href={{link}}>{{project}}</a>
                {%endfor%}
            </div>
            <div class="education blocks-style">
                <h2>Education</h2>
                    <ul>
                        {%for ed in education %}
                            <li>{{ed}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <div class="row">
            <div class="facts blocks-style">
            <h2>Facts about 2D Designers</h2>
                <ul>
                    {%for contact, link in contacts %}
                        <li>{{contact}}</li>
                    {% endfor %}
                </ul>
            </div>
            <img class="cat" src="{{ url_for('static', filename='photo_2025-04-28 16.43.08.jpeg') }}">
            </div>
        </div>
    </body>
</html>